/* ### SASS VARIABLES: ### */

$color-light-green: #57b862;
$color-dark-green: #4e805b;
$color-light-red: #e65151;
$menu-section-background: #4e805b;

/* ### LAYOUT: ### */

*, html, body {
  font-family: 'Ubuntu', ubuntu, sans-serif;
  font-size: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  position: relative;
}

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $color-light-green;
  height: auto;
  width: 100%;
}

div.layout {
  height: auto;
  margin: 0px auto 0px auto;
  max-width: 800px;
  width: 95%;
}

div.clear {
  clear: both;
  height: 0px;
  width: 100%;
}

p {
  color: #666666;
  font-size: 18px;
  line-height: 24px;
}

/* ### LOGO: ### */

div.logo-white {
  background-image: url('../gfx/logo-white.svg');
}

div.logo-basket-white {
  background-image: url('../gfx/logo-basket-white.svg');
}

/* ### MENU: ### */

div.menu {
  background: $color-light-green;
  height: 60px;
  width: 100%;
  z-index: 1;

  div.logo {
    float: left;
    height: 30px;
    margin: 15px 0px 15px 0px;
    width: 114px;

    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  div.sections {
    float: right;
    height: auto;
    width: auto;

    div.section {
      display: inline;
      float: right;
      height: 30px;
      padding: 15px;
      width: auto;

      @media (max-width: 700px) {
        padding: 15px 10px 15px 10px;
      }

      div {
        float: left;
        height: 18px;
        margin: 6px 10px 6px 0px;
        width: 18px;

        @media (max-width: 700px) {
          margin: 6px 0px 6px 0px;
        }
      }

      p {
        color: #ffffff;
        float: left;
        font-size: 18px;
        line-height: 30px;

        @media (max-width: 700px) {
          display: none;
        }
      }
    }

    div.active {
      background-color: $menu-section-background;
      padding: 15px;

      @media (max-width: 700px) {
        margin: 0px 5px 0px 5px;
      }
    }

    div.section-categories div {
      background: url('../gfx/menu/icon-categories.svg');
    }

    div.section-search div {
      background: url('../gfx/menu/icon-search.svg');
    }

    div.section-profile div {
      background: url('../gfx/menu/icon-profile.svg');
    }

    div.section-basket div {
      background: url('../gfx/menu/icon-basket.svg');
    }
  }
}

/* ### CONTENT: ### */

div.content {
  background: #ffffff;
  overflow: hidden;

  div.title {
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25) inset;
    -ms-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25) inset;

    border-bottom: solid 1px $color-light-green;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 40px 20px 20px 20px;
    margin: -20px 0px 0px -20px;
    width: 100%;

    h1 {
      color: $color-dark-green;
      font-size: 30px;
      line-height: 40px;
      padding: 0px 0px 10px 0px;
    }

    p {
      font-size: 22px;
      line-height: 30px;
    }
  }

  div.loading {
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25) inset;
    -ms-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25) inset;

    border-top: solid 1px $color-light-green;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 20px 40px 20px 20px;
    margin: 0px 0px 0px -20px;
    width: 100%;

    p {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }

    div {
      background: url('../gfx/loading.png');
      clear: both;
      height: 28px;
      margin: 20px auto 0px auto;
      width: 41px;
    }
  }
}

/* ### FOOTER: ### */

div.footer {
  clear: both;
  height: auto;
  padding: 30px 0px 20px 0px;
  width: 100%;

  p {
    color: #ffffff;
    text-align: center;
  }

  p.address {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;

    br {
      display: none;
    }

    @media (max-width: 700px) {
      span {
        display: none;
      }

      br {
        display: block;
      }
    }
  }

  p.owner {
    font-size: 14px;
    line-height: 18px;
    padding: 5px 0px 0px 0px;
  }

  div {
    height: 32px;
    margin: 20px auto 20px auto;
    opacity: 0.5;
    width: 42px;
  }
}

/* ### CATEGORIES: ### */

div.categories {
  div.type {
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;

    display: inline;
    float: left;
    height: auto;
    transition: all 250ms ease-in;

    @media (min-width: 0px) {
      width: 50%;
    }

    @media (min-width: 400px) {
      width: 33%
    }

    @media (min-width: 650px) {
      width: 25%
    }

    div {
      height: 71px;
      margin: 0px auto 0px auto;
      width: 100%
    }

    p {
      color: $color-dark-green;
      font-size: 20px;
      line-height: 20px;
      padding: 20px 0px 20px 0px;
      text-align: center;
    }
  }

  div.type-eat div {
    background: url('../gfx/categories/icon-eat.svg');
    width: 76px;
  }

  div.type-drink div {
    background: url('../gfx/categories/icon-drink.svg');
    width: 56px;
  }

  div.type-pharmacy div {
    background: url('../gfx/categories/icon-pharmacy.svg');
    width: 71px;
  }

  div.type-household div {
    background: url('../gfx/categories/icon-household.svg');
    width: 57px;
  }

  div.tiles {
    padding: 20px 0px 0px 0px;
  }
}

/* ### CATEGORY: ### */

div.category {
  div.list {
    padding: 20px 0px 20px 0px;

    div.product {
      clear: both;
      margin: 20px 0px 0px 0px;

      div.image {
        float: left;
        height: auto;
        width: 20%;

        img {
          width: 100%;
        }
      }

      div.description {
        float: right;
        height: auto;
        width: 75%;

        h2 {
          color: $color-dark-green;
          font-size: 18px;
          line-height: 24px;
          padding: 0px 0px 10px 0px;

          @media (min-width: 700px) {
            font-size: 22px;
            line-height: 28px;
          }

          a {
            color: inherit;
            text-decoration: none;
          }
        }

        p {
          font-size: 14px;
          line-height: 18px;
        }

        div.button {
          clear: both;
          cursor: pointer;
          float: left;
          margin: 20px 0px 10px 0px;

          div.amount {
            background: #ffffff;
            border: solid 1px $color-light-green;
            float: left;
            height: 30px;
            width: 40px;

            p {
              color: $color-dark-green;
              font-size: 14px;
              font-weight: 600;
              line-height: 30px;
              text-align: center;
            }

            select {
              border: none;
              cursor: pointer;
              height: 32px;
              left: -1px;
              opacity: 0.0;
              position: absolute;
              top: -1px;
              width: 42px;
              z-index: 1;
            }
          }

          div.icon {
            background-color: $color-light-green;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 21px 16px;
            float: left;
            height: 32px;
            width: 32px;
          }

          p.price {
            background: $color-light-green;
            color: #ffffff;
            float: left;
            font-size: 16px;
            font-weight: 600;
            line-height: 32px;
            padding: 0px 10px 0px 0px;
          }
        }

        ul {
          clear: both;
          list-style-type: square;
          list-style-position: inside;

          li {
            color: $color-dark-green;
            font-size: 14px;
            line-height: 18px;

            span {
              color: #666666;
            }
          }
        }
      }
    }

    div.divider {
      background: #cccccc;
      clear: both;
      height: 1px;
      margin: 20px 0px 0px 25%;
      width: 75%;
    }
  }
}

/* ### PRODUCT: ### */

div.product {
  div.title {
    div.image {
      height: auto;
      max-height: 200px;
      max-width: 200px;
      margin: 0px auto 0px auto;
      width: auto;

      img {
        width: 100%;
      }
    }

    h1 {
      margin: 20px 0px 0px 0px;
      text-align: center;
    }
  }

  div.details {
    padding: 20px 0px 20px 0px;

    div.detail {
      clear: both;
      display: table;
      height: auto;
      margin: 0px 0px 20px 0px;
      width: 100%;

      div.icon {
        background-position: center center;
        background-repeat: no-repeat;
        display: table-cell;
        height: 40px;
        vertical-align: middle;
        width: 40px;
      }

      div.icon-calculator {
        background-image: url('../gfx/product/icon-calculator.svg');
      }

      div.icon-info {
        background-image: url('../gfx/product/icon-info.svg');
      }

      div.text {
        display: table-cell;
        height: auto;
        padding: 0px 0px 0px 10px;
        vertical-align: middle;
        width: auto;

        p {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    div.button {
      text-align: center;

      div.inner {
        clear: both;
        cursor: pointer;
        display: inline-block;
        height: 42px;
        margin: 0px auto 0px auto;
        width: auto;

        div.amount {
          background: #ffffff;
          border: solid 1px $color-light-green;
          float: left;
          height: 40px;
          width: 40px;

          p {
            color: $color-dark-green;
            font-size: 14px;
            font-weight: 600;
            line-height: 40px;
            text-align: center;
          }

          select {
            border: none;
            cursor: pointer;
            height: 42px;
            left: -1px;
            opacity: 0.0;
            position: absolute;
            top: -1px;
            width: 42px;
            z-index: 1;
          }
        }

        div.icon {
          background-color: $color-light-green;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 26px 20px;
          float: left;
          height: 42px;
          width: 42px;
        }

        p.price {
          background: $color-light-green;
          color: #ffffff;
          float: left;
          font-size: 20px;
          font-weight: 600;
          line-height: 42px;
          padding: 0px 10px 0px 0px;
        }
      }
    }
  }
}

/* ### BASKET: ### */

div.basket {
  div.list {
    padding: 20px 0px 20px 0px;

    div.product {
      clear: both;
      display: table;
      margin: 20px 0px 0px 0px;
      min-height: 60px;
      width: 100%;

      @media (max-width: 750px) {
        display: block;
      }

      div.description {
        display: table-cell;
        height: auto;
        vertical-align: middle;
        width: 60%;

        @media (max-width: 750px) {
          clear: both;
          display: block;
          width: 100%;
        }

        div.image {
          height: 60px;
          left: 0px;
          position: absolute;
          top: 0px;
          width: 60px;
          z-index: 1;

          img {
            width: 100%;
          }
        }

        h2 {
          color: $color-dark-green;
          font-size: 18px;
          line-height: 24px;
          padding: 0px 0px 0px 80px;

          a {
            color: inherit;
            text-decoration: none;
          }
        }

        p {
          font-size: 14px;
          line-height: 18px;
          padding: 5px 10px 0px 80px;
        }
      }

      div.total {
        display: table-cell;
        height: auto;
        vertical-align: middle;
        width: 27%;

        @media (max-width: 750px) {
          clear: both;
          display: block;
          float: left;
          height: 30px;
          margin: 10px 0px 0px 80px;
          width: auto
        }

        div.amount {
          float: right;
          height: 30px;
          width: auto;

          p {
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            text-align: right;
          }

          select {
            border: none;
            cursor: pointer;
            height: 30px;
            left: 0px;
            opacity: 0.0;
            position: absolute;
            top: 0px;
            width: 80px;
            z-index: 1;
          }
        }

        div.icon {
          background-image: url('../gfx/basket/icon-equal.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 14px 10px;
          float: right;
          height: 32px;
          width: 32px;
        }

        p.price {
          float: right;
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
          text-align: right;
          width: 110px;
        }
      }

      div.line {
        display: table-cell;
        height: 60px;
        text-align: center;
        vertical-align: middle;
        width: 5%;

        @media (max-width: 750px) {
          display: block;
          float: left;
          height: 30px;
          margin: 10px 0px 0px 0px;
          width: auto;
        }

        div {
          background: #cccccc;
          display: inline-block;
          height: 30px;
          margin: 0px 20px 0px 20px;
          width: 1px;
        }
      }

      div.remove {
        display: table-cell;
        height: 60px;
        vertical-align: middle;
        width: 7%;

        @media (max-width: 750px) {
          display: block;
          float: left;
          height: 30px;
          margin: 10px 0px 0px 0px;
          width: auto;
        }

        p {
          float: left;
          font-size: 12px;
          line-height: 40px;

          @media (max-width: 750px) {
            line-height: 30px;
          }

          a, a:visited {
            color: inherit;
          }
        }
      }
    }

    div.divider {
      background: #cccccc;
      clear: both;
      height: 1px;
      margin: 20px 0px 0px 0px;
      width: 100%;
    }

    div.grandtotal {
      clear: both;
      height: auto;
      width: 100%;

      div.description {
        float: left;
        height: 60px;
        width: 60%;

        @media (max-width: 750px) {
          width: 40%;
        }

        p {
          font-size: 20px;
          font-weight: 500;
          line-height: 60px;
          padding: 0px 0px 0px 80px;
        }
      }

      div.amount {
        float: left;
        height: 60px;
        width: 27%;

        @media (max-width: 750px) {
          width: 60%;
        }

        div.icon {
          background-image: url('../gfx/basket/icon-equal.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 14px 10px;
          float: right;
          height: 60px;
          width: 32px;
        }

        p {
          float: right;
          font-size: 20px;
          font-weight: 600;
          line-height: 60px;
          text-align: right;
          width: 110px;
        }
      }

      div.filler {
        float: left;
        height: 60px;
        width: 13%;

        @media (max-width: 750px) {
          display: none;
        }
      }
    }

    div.checkout {
      clear: both;
      height: auto;
      margin: 20px 0px 0px 0px;
      text-align: center;
      width: 100%;

      div.button {
        clear: both;
        cursor: pointer;
        display: inline-block;
        margin: 0px auto 0px auto;

        div {
          background-color: $color-light-green;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 21px 16px;
          float: left;
          height: 32px;
          width: 32px;
        }

        p {
          background: $color-light-green;
          color: #ffffff;
          float: left;
          font-size: 16px;
          font-weight: 600;
          line-height: 32px;
          padding: 0px 10px 0px 0px;
        }
      }
    }
  }
}

/* ### CHECKOUT: ### */

div.checkout {
  div.form {
    padding: 20px 0px 20px 0px;

    div.field {
      clear: both;
      height: auto;
      margin: 0px 0px 20px 0px;
      width: 668px;

      @media (max-width: 750px) {
        width: auto;
      }

      label {
        float: left;
        font-size: 18px;
        line-height: 30px;
        height: auto;
        width: 250px;

        @media (max-width: 750px) {
          font-size: 16px;
        }
      }

      input {
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-border-radius: 5px;

        border: solid 1px #aaaaaa;
        border-radius: 5px;
        float: left;
        outline: none;
        padding: 8px;
        width: 400px;

        @media (max-width: 750px) {
          width: 94%;
        }
      }
    }

    div.button {
      clear: both;
      cursor: pointer;
      display: inline-block;
      margin: 0px 0px 0px 250px;
      width: auto;

      @media (max-width: 750px) {
        margin: 0px;
      }

      div {
        background-image: url('../gfx/checkout/icon-arrow-right.svg');
        background-color: $color-light-green;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 12px 16px;
        float: left;
        height: 32px;
        width: 32px;
      }

      p {
        background: $color-light-green;
        color: #ffffff;
        float: left;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        padding: 0px 10px 0px 0px;
      }
    }
  }
}
