<div class="footer">
  <p class="address">AMOOMA GmbH<span> - </span><br />Bachstrasse 124 - 56566 Neuwied</p>
  <p class="owner">Geschäftsführer: Stefan Wintermeyer, Handelsregister Montabaur B14998</p>
  <div class="logo-basket-white"></div>
</div>
