<div class="menu">

  <div class="layout">
    
    <div class="logo logo-white">
      <%= link_to "", root_path %>
    </div>

    <div class="sections">
      <a href="basket.html">
        <div class="section section-basket">
          <div></div>
          <p>Einkaufswagen</p>
        </div>
      </a>

      <a href="profile.html">
        <div class="section section-profile">
          <div></div>
          <p>Profil</p>
        </div>
      </a>

      <a href="search.html">
        <div class="section section-search">
          <div></div>
          <p>Suche</p>
        </div>
      </a>

      <a href="index.html">
        <div class="section section-categories active">
          <div></div>
          <p>Kategorien</p>
        </div>
      </a>

    </div>

  </div>

</div>
